// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


/* This controls the blog title */
body > header {
    float: right;
    border-right: 0px;
    border-left: 4px solid #000;
    @media only screen and (min-width: 320px) {
        font-size: 0.90em;
        line-height: 4.5em;
        padding-right: 6px;
        padding-left: 6px;
    }
    @media only screen and (min-width: 550px) {
        font-size: 1.3em;
        line-height: 2em;
        padding-right: 18px;
        padding-left: 18px;
    }
}


/* This controls the navigation elements */
body > nav {
    @media only screen and (max-width: 320px) {
        width: 125px
    }
}        

body > nav ul {
    float: right;
    margin-right: 1em;
    direction: rtl;
    margin-left: 0px;
    font-weight: bold;
    @media only screen and (max-width: 320px) {
        margin-right: 10px;
        padding-right: 0px;
    }
    a {
        width: 137px;
        @media only screen and (min-width: 320px) {
            font-size: 18px;
        }
        @media only screen and (min-width: 550px) {
            font-size: 23px;
        }
    }
}

/* body > nav a {
 *     float: right;
 *     width: 137px;
 * } */


/* This controls the list elements */
body > nav ul li {
    direction: rtl;
    padding-bottom: 2em;
}

/* This controls the blog contents */
.no-sidebar #content {
    direction: rtl;
}

body > footer {
    margin-bottom: 1em;
    direction: rtl;
}

article {
    footer p.nav a { color: #888; }
    p { font-size: 18px; }
    h1 {
        font-weight: bold;
        @media only screen and (min-width: 320px) {
            font-size: 35px;
        }
        @media only screen and (min-width: 550px) {
            font-size: 45px;
        }
    }
    h2 {
        font-weight: bold;
        @media only screen and (min-width: 320px) {
            font-size: 25px;
        }
        @media only screen and (min-width: 550px) {
            font-size: 35px;
        }
    }
    header { font-weight: bold; margin-bottom: 1em; }
}


blockquote {
    font-size: 17px;
    color: #666;
}


.footnotes {
    margin-top: 3em;
    font-size: 14px;
    border-top: 2px solid #666;
}

.footnotes > ol {
    margin-top: 2em;
}

.footnotes > ol > li > p {
    margin-bottom: 0.5em;
}

h1.error {
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}

p.error-explanation {
    text-align: center;
    margin-bottom: 5em;
}

a {
    text-decoration: none;
}
