/* Fix the backquote bar to appear on the right and disable the italic font. */
blockquote {
  $bq-margin: 1.2em;
  font-style: normal;
  position: relative;
  font-size: 1em;
  line-height: 1.5em;
  padding-left: 0em;
  border-left: 0px;
  padding-right: 1em;
  border-right: 4px solid rgba($text-color-light, .5);
  cite {
      font-style: normal;
      a { color: $text-color-light !important; word-wrap: break-word; }
      &:before { content: '\2014'; padding:{right: .3em; left: .3em;} color: $text-color-light; }
  }
  @media only screen and (min-width: 992px) {
      padding-left: 0em;
      border-right-width: 0px;
      padding-right: 1.5em;
      border-right-width: 4px;
  }
}


/* Set the font to Droid Arabic Naskh */
@font-face{
    font-family: "DroidArabicNaskh";
    src: url("/assets/fonts/droidnaskh-regular.eot");
    /* src: local("DroidArabicNaskh"), url("/assets/fonts/droidnaskh-regular.eot"); */
    src: url("/assets/fonts/droidnaskh-regular.eot?#iefix") format('embedded-opentype'),
    url("/assets/fonts/droidnaskh-regular.woff") format('woff'),
    url("/assets/fonts/droidnaskh-regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "DroidArabicNaskh";
    src:url("/assets/fonts/droidnaskh-bold.eot");
    /* src: local("DroidArabicNaskh"), url("/assets/fonts/droidnaskh-bold.eot"); */
    src:url("/assets/fonts/droidnaskh-bold.eot?#iefix") format('embedded-opentype'),
    url("/assets/fonts/droidnaskh-bold.woff") format('woff'),
    url("/assets/fonts/droidnaskh-bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

